h1 {
    background: radial-gradient(circle, var(--color-4) 0%, var(--color-3) 100%);
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    text-align:center;
    margin: 0;
    padding: 20px 0px;
    font-size: 30px;
    font-family: pokemonSolid;
    text-decoration: none;
}

h1:link{
    text-decoration: none;
}

@media (min-width:500px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    h1 {
        font-size: 25px;
    }
}

@media (min-width:600px)  { /* smartphones, Android phones, landscape iPhone */ 
    h1 {
        font-size: 30px;
    }
}
