.navbar {
    /* background-color: #F58634; */
    height: 80px;
    position: absolute;
    top: 45px;
    left: -6;
    
}

.navbar-toggle {
    width: 100%;
    height: 126px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: var(--color-3);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 263px;
}

.nav-text a {
    text-decoration: none;
    text-shadow: 0px 1px 7px rgb(44, 44, 44);
    color: rgba(0, 0, 0, 0.849);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;

}

.nav-text a:hover{
    background-color: var(--color-4);
    color: rgba(0, 0, 0, 0.973);
    text-shadow: 0px 1px 7px rgb(197, 197, 197, 0.6);
}

.nav-menu-items {
    width: 100%;
}

.nav-text span {
    margin-left: 16px;
}

.menu-bars > i {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

